.sendEmailLink{
    display: block;
    padding: 8px 32px;
    text-decoration: none;
    margin-bottom: 32px;
    font-weight: bold;
    background-color:  white;
    color: #282c34;
}

.sendEmailLink:hover{
    background-color: #282c34;
    color: white;
    text-decoration: underline;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 1800px;
  }

  .newsBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
    padding: 8px;
  }

  .mainPageImage{
      display: inline-block;
      margin-right: 32px;
      margin-top: 16px;
      width: 90vw;
      padding: 8px;
  }