.App {
  margin: 0;
  padding: 10px;
  text-align: center; 
  width: 98vw;
  max-width: 1920px;
  height: auto;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Cinzel', serif;
  color: #282c34;
  background-color: rgba(255, 250, 200, .8);
}


.main{
  width: 98vw;
  height: 1750px;
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.mainPageImage{
  margin-top: 16px;
}

.footer{
  margin: 0;
  padding: 0;
  height: 20vh;
  background-color: #282c34;
  color: white;
  width: 98vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.footerCopyRight{
  padding: 8px;
  width: 100%;
  display: block;
  border-top: 1px solid white;
  border-bottom: 1px solid #282c34;
}
